# Source files
src/
tsconfig.json
webpack.config.*
*.tgz

# Development and build tools
.devcontainer/
.github/
.eslintrc.*
.prettierrc*
.prettierignore
jest.config.*
renovate.json

# Tests
tests/
__tests__/
*.test.ts
*.spec.ts
coverage/

# Development dependencies
node_modules/

# Version control
.git/
.gitignore
